
  <%- include('head') -%>
  <body>
    <div class="container">
      <%- include ('leftmenu') -%>
      <%- include('dashboard') -%>
    </div>
    <%- include('scripts') -%>
  </body>
  <%- include('bottom') -%>
