
  <%- include('views/head') -%>
  <body>
    <div class="container">
      <%- include ('views/leftmenu') -%>
      <%- include('views/dashboard') -%>
    </div>
    <%- include('views/scripts') -%>
  </body>
  <%- include('views/bottom') -%>
